<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:sharedUserId="oppo.uid.launcher"
	android:versionCode="140000034"
	android:versionName="14.0.34_reiryuki"
	android:sharedUserLabel="@7F12060B"
	package="com.oplus.launcher"
	>
	<uses-sdk
		android:minSdkVersion="30"
		android:targetSdkVersion="33"
		>
	</uses-sdk>
	<compatible-screens
		>
	</compatible-screens>
	<uses-permission
		android:name="android.permission.INPUT_CONSUMER"
		>
	</uses-permission>
	<permission
		android:name="com.android.launcher.permission.HOTSEAT_EDU"
		>
	</permission>
	<uses-permission
		android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.START_TASKS_FROM_RECENTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REMOVE_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_ACTIVITY_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.STATUS_BAR"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_SHORTCUTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.STOP_APP_SWITCHES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SET_ORIENTATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_FRAME_BUFFER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_ACCESSIBILITY"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MONITOR_INPUT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.HOTSEAT_EDU"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_APPLICATION_OVERLAY"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.CONNECTIVITY"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.synergy.permission.ENGINE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CALL_PHONE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SET_WALLPAPER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SET_WALLPAPER_HINTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BIND_APPWIDGET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_MEDIA_IMAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_DELETE_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_DEVICE_CONFIG"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.PERMISSION_LAUNCHER_PAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.systemui.permission.AOD_CLOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SECURE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_CONFIGURATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.DELETE_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.EXPAND_STATUS_BAR"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_WALLPAPER_INTERNAL"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SET_WALLPAPER_COMPONENT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.STATUS_BAR_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.ACTION_DEEP_PROTECT_START_APP"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.PROTECT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.DEVICE_POWER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.APP_MANAGER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.SECURITY"
		>
	</uses-permission>
	<uses-permission
		android:name="oplus.permission.OPLUS_COMPONENT_SAFE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.PRIVATE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.LOG"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.uxdesign.permission.LAUNCH_PERSONAL"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.wallpapers.permission.ADD_WALLPAPER_HISTORY"
		>
	</uses-permission>
	<uses-permission
		android:name="oplus.permission.settings.LAUNCH_FOR_EXPORT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="heytap.permission.cloud.ACCESS_CLOUD"
		>
	</uses-permission>
	<uses-permission
		android:name="heytap.permission.cloud.ACCESS_SYNC_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.uxdesign.permission.COMPONENT_SAFE"
		>
	</uses-permission>
	<uses-permission
		android:name="net.oneplus.launcher.permission.WRITE_BACKUP"
		>
	</uses-permission>
	<uses-permission
		android:name="net.oneplus.launcher.permission.READ_BACKUP"
		>
	</uses-permission>
	<uses-permission
		android:name="scenemode.permission.SCENEMODE_INDEX"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.USE_BIOMETRIC"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_APPWIDGET_BIND_PERMISSIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.UNLIMITED_TOASTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ALLOW_SLIPPERY_TOUCHES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_ACTIVITY_STACKS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.FANTASYWINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.POST_NOTIFICATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.SECURITY_ACTION"
		>
	</uses-permission>
	<uses-permission
		android:name="com.coloros.sidebar.permission.data"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SET_PREFERRED_APPLICATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.exserviceui.pocket.studio.canvas"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.notifictionmanager.BADGE_READ"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_ROLE_HOLDERS"
		>
	</uses-permission>
	<permission
		android:name="com.android.launcher.permission.ACTION_DEEP_PROTECT_START_APP"
		>
	</permission>
	<permission
		android:name="com.oplus.game.empowerment.folder_receiver"
		>
	</permission>
	<permission
		android:label="@7F12045B"
		android:name="com.android.launcher.permission.READ_SETTINGS"
		android:description="@7F120451"
		>
	</permission>
	<permission
		android:label="@7F12045D"
		android:name="com.android.launcher.permission.WRITE_SETTINGS"
		android:description="@7F120453"
		>
	</permission>
	<uses-permission
		android:name="com.android.launcher.permission.READ_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.AI_APP"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.ASSISTANT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.coloros.assistantscreen.enter_advice"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.IOT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.securepay.permission.QUERY_PROTECTED_APP"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REORDER_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ADD_TRUSTED_DISPLAY"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INJECT_EVENTS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.CAMERA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.POWER"
		>
	</uses-permission>
	<queries
		>
		<provider
			android:authorities="com.oplus.notification_center"
			>
		</provider>
		<package
			android:name="com.oplus.pantanal.ums"
			>
		</package>
		<package
			android:name="com.heytap.speechassist"
			>
		</package>
		<intent
			>
			<action
				android:name="com.oplus.upk.action.UPK_CARD"
				>
			</action>
		</intent>
		<package
			android:name="com.nearme.instant.platform"
			>
		</package>
		<package
			android:name="org.hapjs.debugger"
			>
		</package>
		<package
			android:name="com.nearme.instant.card"
			>
		</package>
		<package
			android:name="com.oplus.utrace.agent"
			>
		</package>
	</queries>
	<queries
		>
		<package
			android:name="com.heytap.quicksearchbox.GlobalSearchProvider"
			>
		</package>
	</queries>
	<uses-permission
		android:name="android.permission.CAPTURE_BLACKOUT_CONTENT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ROTATE_SURFACE_FLINGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKEUP_SURFACE_FLINGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_APP_HIBERNATION"
		>
	</uses-permission>
	<uses-permission
		android:name="com.oplus.permission.safe.SAFE_MANAGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<permission
		android:name="com.android.launcher.permission.TEST_STUB_READ"
		>
	</permission>
	<application
		android:theme="@7F130042"
		android:label="@7F120112"
		android:icon="@7F0806A1"
		android:name="com.android.common.LauncherApplication"
		android:backupAgent="com.android.launcher3.LauncherBackupAgent"
		android:allowBackup="false"
		android:hardwareAccelerated="true"
		android:largeHeap="false"
		android:supportsRtl="true"
		android:extractNativeLibs="false"
		android:fullBackupContent="false"
		android:usesCleartextTraffic="true"
		android:defaultToDeviceProtectedStorage="true"
		android:directBootAware="true"
		android:usesNonSdkApi="true"
		>
		<uses-library
			android:name="oplus"
			android:required="false"
			>
		</uses-library>
		<meta-data
			android:name="com.android.launcher.support.folder_content_recommend_app"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.custom_download_channel"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.card_global_drag"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.global_search_animation_v2"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.overscroll_blur"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.swipe_up_to_assistant_screen_fs"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.taskview_remote_animation"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.req_subscribed_cards"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.oplus.support_uxonline"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="oplus.support.options"
			android:value="@7F12041A"
			>
		</meta-data>
		<meta-data
			android:name="hide_dialog_when_create_shortcut"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="uxicon_support_editicon"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="versionDate"
			android:value="240531"
			>
		</meta-data>
		<meta-data
			android:name="versionCommit"
			android:value="ca8888b"
			>
		</meta-data>
		<meta-data
			android:name="AppCode"
			android:value="20110"
			>
		</meta-data>
		<meta-data
			android:name="check_occupied_when_loading"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.taskbar"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="game_center_unload_display"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="hide_desktop_game_icon"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.item_locate"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="AppPlatformKey"
			android:value="ATBGAiEAh0KfL/PxhetixVyivItCBfbtJfu7qiGBccRDCPJsE/ECIQCj/kw8Xwh0Mjavp5BjOfE2fAAK2oz6bDpc+M/4biQuMGAbXjNlcG9uYSxzZXRBcHBsaWNhdGlvbkVuYWJsZWRTZXR0aW5nLGRlbGV0ZVBhY2thZ2VBc1VzZXIsc2NyZWVuc2hvdFdhbGxwYXBlcixzZXROb3RpZmljYXRpb25MaXN0ZW5lckFjY2Vzc0dyYW50ZWQsTUFUQ0hfQU5ZX1VTRVI7dGluZ2xlLHNldEFwcGxpY2F0aW9uRW5hYmxlZFNldHRpbmeiAAAA"
			>
		</meta-data>
		<meta-data
			android:name="color_material_enable"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="theme_version_metadata"
			android:value="1200.001.000"
			>
		</meta-data>
		<meta-data
			android:name="br"
			android:value="1"
			>
		</meta-data>
		<meta-data
			android:name="area"
			android:value="export,gdpr"
			>
		</meta-data>
		<meta-data
			android:name="application_do_not_disable"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher3.launcher_dump_provider"
			android:value="com.android.launcher3.OplusLauncherProvider"
			>
		</meta-data>
		<meta-data
			android:name="support_family_defend"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.search_repeat"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.update_gesture_area"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.set_multi_app_badge_count"
			android:value="true"
			>
		</meta-data>
		<activity
			android:theme="@7F130242"
			android:name="com.android.launcher.Launcher"
			android:enabled="true"
			android:exported="true"
			android:taskAffinity=""
			android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true"
			android:launchMode="2"
			android:screenOrientation="-1"
			android:configChanges="0x00000DF3"
			android:windowSoftInputMode="0x00000020"
			android:resumeWhilePausing="true"
			android:resizeableActivity="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<action
					android:name="android.intent.action.SHOW_WORK_APPS"
					>
				</action>
				<category
					android:name="android.intent.category.HOME"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.MONKEY"
					>
				</category>
				<category
					android:name="android.intent.category.LAUNCHER_APP"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="com.android.launcher3.grid.control"
				android:value="com.android.launcher.grid_control"
				>
			</meta-data>
			<meta-data
				android:name="oplus_config_change"
				android:value="@7F0B00A3"
				>
			</meta-data>
		</activity>
		<receiver
			android:name="com.android.launcher3.SessionCommitReceiver"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.content.pm.action.SESSION_COMMITTED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.android.launcher3.AppWidgetsRestoredReceiver"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:label="@7F1203C1"
			android:name="com.android.launcher3.notification.NotificationListener"
			android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
			android:exported="true"
			android:directBootAware="true"
			>
			<intent-filter
				>
				<action
					android:name="android.service.notification.NotificationListenerService"
					>
				</action>
			</intent-filter>
		</service>
		<meta-data
			android:name="android.nfc.disable_beam_default"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.android.launcher.support.search_app_drag"
			android:value="true"
			>
		</meta-data>
		<activity
			android:theme="@7F130009"
			android:name="com.android.launcher3.dragndrop.AddItemActivity"
			android:exported="true"
			android:excludeFromRecents="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:autoRemoveFromRecents="true"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"
					>
				</action>
				<action
					android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET"
					>
				</action>
			</intent-filter>
		</activity>
		<provider
			android:name="com.android.launcher3.OplusLauncherProvider"
			android:exported="true"
			android:authorities="com.android.launcher.settings"
			>
		</provider>
		<provider
			android:name="com.android.launcher.OplusFavoritesProvider"
			android:permission="com.oplus.permission.safe.APP_MANAGER"
			android:exported="true"
			android:authorities="com.android.launcher.OplusFavoritesProvider"
			>
		</provider>
		<provider
			android:name="com.android.launcher.LauncherFileProvider"
			android:permission="com.oplus.permission.safe.APP_MANAGER"
			android:exported="true"
			android:authorities="com.android.launcher.AuthoritiesLauncherFileProvider"
			>
		</provider>
		<provider
			android:name="com.android.launcher.BadgeProvider"
			android:exported="true"
			android:multiprocess="true"
			android:authorities="com.android.badge"
			android:directBootAware="true"
			>
		</provider>
		<provider
			android:name="com.android.launcher3.graphics.GridCustomizationsProvider"
			android:exported="true"
			android:authorities="com.android.launcher.grid_control"
			>
		</provider>
		<provider
			android:name="com.android.launcher.provider.FacadeProvider"
			android:permission="com.oplus.permission.safe.APP_MANAGER"
			android:enabled="true"
			android:exported="true"
			android:authorities="com.android.launcher.provider.FacadeProvider"
			>
		</provider>
		<provider
			android:name="com.android.launcher.download.DownloadStateProvider"
			android:permission="com.oplus.permission.safe.APP_MANAGER"
			android:enabled="true"
			android:exported="true"
			android:authorities="com.android.launcher.download.DownloadStateProvider"
			>
		</provider>
		<activity
			android:theme="@7F13023F"
			android:label="@7F1204F0"
			android:name="com.android.launcher3.settings.SettingsActivity"
			android:exported="true"
			android:autoRemoveFromRecents="true"
			>
		</activity>
		<activity
			android:theme="@7F13003E"
			android:name="com.android.launcher3.appedit.AppEditActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:configChanges="0x00000680"
			android:windowSoftInputMode="0x00000020"
			android:resizeableActivity="false"
			>
		</activity>
		<activity
			android:theme="@7F130042"
			android:name="com.android.launcher3.secondarydisplay.SecondaryDisplayLauncher"
			android:enabled="true"
			android:exported="true"
			android:launchMode="1"
			android:configChanges="0x00000DF3"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.SECONDARY_HOME"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<service
			android:name="com.android.quickstep.TouchInteractionService"
			android:permission="android.permission.STATUS_BAR_SERVICE"
			android:exported="true"
			android:directBootAware="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.QUICKSTEP_SERVICE"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:theme="@7F130243"
			android:name="com.android.quickstep.RecentsActivity"
			android:taskAffinity=""
			android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true"
			android:excludeFromRecents="true"
			android:launchMode="2"
			android:screenOrientation="-1"
			android:configChanges="0x000005F3"
			android:resumeWhilePausing="true"
			android:resizeableActivity="true"
			>
		</activity>
		<activity
			android:theme="@7F130269"
			android:label="@7F1203F1"
			android:name="com.oplus.quickstep.locksetting.ui.LockSettingActivity"
			android:exported="true"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:launchMode="1"
			android:screenOrientation="3"
			android:configChanges="0x00000580"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.quickstep.LOCK_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F13032C"
			android:name="com.android.launcher.guide.side.SideSlipGesturesGuideActivity"
			android:permission="com.oplus.permission.safe.SETTINGS"
			android:exported="true"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:launchMode="3"
			android:screenOrientation="3"
			android:resizeableActivity="false"
			>
		</activity>
		<provider
			android:name="com.android.launcher.settings.LauncherIndexablesProvider"
			android:permission="android.permission.READ_SEARCH_INDEXABLES"
			android:exported="true"
			android:multiprocess="false"
			android:authorities="com.oplus.launcher"
			android:grantUriPermissions="true"
			>
			<intent-filter
				>
				<action
					android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"
					>
				</action>
			</intent-filter>
		</provider>
		<activity
			android:theme="@7F1304DD"
			android:name="com.android.launcher3.proxy.ProxyActivityStarter"
			android:exported="false"
			android:clearTaskOnLaunch="true"
			android:excludeFromRecents="true"
			android:launchMode="2"
			android:resizeableActivity="false"
			>
		</activity>
		<activity
			android:name="com.android.quickstep.interaction.GestureSandboxActivity"
			android:exported="true"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:autoRemoveFromRecents="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.quickstep.action.GESTURE_SANDBOX"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@01030055"
			android:name="com.android.launcher3.hybridhotseat.HotseatEduActivity"
			android:permission="com.android.launcher.permission.HOTSEAT_EDU"
			android:exported="true"
			android:clearTaskOnLaunch="true"
			android:noHistory="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher3.action.SHOW_HYBRID_HOTSEAT_EDU"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F130268"
			android:name="com.android.launcher.settings.LauncherSettingsActivity"
			android:permission="com.oplus.permission.safe.SETTINGS"
			android:exported="true"
			android:taskAffinity="com.android.settings"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:supportsRtl="true"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.settings.LAUNCHER_SETTINGS"
					>
				</action>
				<action
					android:name="com.android.launcher.action.WALLPAPER_CATEGORY_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="oplus_config_change"
				android:value="@7F0B00A4"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F130267"
			android:label="@7F1202E8"
			android:name="com.android.launcher.settings.LauncherModeSettingActivity"
			android:permission="oplus.permission.OPLUS_COMPONENT_SAFE"
			android:exported="true"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:windowSoftInputMode="0x00000020"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.LAUNCHER_MODE_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F130268"
			android:label="@7F1202DD"
			android:name="com.android.launcher.settings.LauncherIconFallenSettingActivity"
			android:permission="com.oplus.permission.safe.SECURITY"
			android:exported="true"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.LAUNCHER_ICON_FALLEN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F130268"
			android:label="@7F1202D8"
			android:name="com.android.launcher.settings.LauncherDockExpandSettingActivity"
			android:permission="com.oplus.permission.safe.SECURITY"
			android:exported="true"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.LAUNCHER_DOCK_EXPAND"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F130268"
			android:label="@7F1202D8"
			android:name="com.android.launcher.settings.LauncherTabletTaskbarSettingActivity"
			android:permission="com.oplus.permission.safe.SECURITY"
			android:enabled="false"
			android:exported="true"
			android:excludeFromRecents="true"
			android:configChanges="0x00000D00"
			android:autoRemoveFromRecents="true"
			android:resizeableActivity="false"
			>
			<intent-filter
				>
				<action
					android:name="com.android.settings.MANUFACTURER_APPLICATION_SETTING"
					>
				</action>
			</intent-filter>
			<meta-data
				android:name="com.android.settings.category"
				android:value="com.oplus.settings.category.ia.special_function"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.title"
				android:resource="@7F1202D8"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.summary"
				android:resource="@7F1205BD"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.icon"
				android:resource="@7F080722"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F130268"
			android:label="@7F1202D8"
			android:name="com.android.launcher.settings.LauncherTaskbarSettingActivity"
			android:permission="com.oplus.permission.safe.SECURITY"
			android:enabled="false"
			android:exported="true"
			android:excludeFromRecents="true"
			android:configChanges="0x00000D00"
			android:autoRemoveFromRecents="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.settings.MANUFACTURER_APPLICATION_SETTING"
					>
				</action>
			</intent-filter>
			<meta-data
				android:name="com.android.settings.category"
				android:value="com.oplus.settings.category.ia.large_screen"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.title"
				android:resource="@7F1202D8"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.summary"
				android:resource="@7F1205BD"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.icon"
				android:resource="@7F080722"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F13032E"
			android:name="com.android.launcher.powersave.SuperPowerSaveModeLauncher"
			android:enabled="false"
			android:exported="true"
			android:taskAffinity=""
			android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true"
			android:excludeFromRecents="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:configChanges="0x00001FF3"
			android:windowSoftInputMode="0x00000020"
			android:resumeWhilePausing="true"
			android:resizeableActivity="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.HOME"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.LAUNCHER_APP"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F13032F"
			android:name="com.android.launcher.powersave.SuperPowerSaveSelectAppActivity"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:windowSoftInputMode="0x00000020"
			>
		</activity>
		<provider
			android:name="androidx.core.content.FileProvider"
			android:exported="false"
			android:authorities="com.android.launcher.file_provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F150002"
				>
			</meta-data>
		</provider>
		<provider
			android:name="com.android.launcher.provider.OplusShareFileProvider"
			android:exported="false"
			android:authorities="com.android.launcher.oplus_file_provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F150002"
				>
			</meta-data>
		</provider>
		<service
			android:name="com.android.launcher.backup.LauncherBRPluginService"
			android:permission="oplus.permission.OPLUS_COMPONENT_SAFE"
			android:exported="true"
			>
			<meta-data
				android:name="uniqueID"
				android:value="352"
				>
			</meta-data>
			<meta-data
				android:name="version"
				android:value="1"
				>
			</meta-data>
			<meta-data
				android:name="backup_name_resId"
				android:value="@7F120112"
				>
			</meta-data>
			<meta-data
				android:name="backup_icon_resId"
				android:value="@7F0806A1"
				>
			</meta-data>
			<meta-data
				android:name="isVendorSupport"
				android:value="true"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="com.oplus.br.service"
					>
				</action>
				<category
					android:name="android.intent.category.default"
					>
				</category>
			</intent-filter>
		</service>
		<service
			android:name="com.android.launcher.backup.cloudsync.LauncherCloudSyncAgent"
			android:permission="heytap.permission.cloud.ACCESS_SYNC_SERVICE"
			android:exported="true"
			>
			<meta-data
				android:name="module"
				android:value="app_layout"
				>
			</meta-data>
			<meta-data
				android:name="hasSmallBinaryFiles"
				android:value="false"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="com.heytap.cloud.action.SYNC_MODULE"
					>
				</action>
				<category
					android:name="android.intent.category.default"
					>
				</category>
			</intent-filter>
		</service>
		<service
			android:name="com.oplus.ovoiceskillservice.SkillActionsService"
			>
		</service>
		<service
			android:name="com.oplus.quickstep.locksetting.LockSettingRecoveryService"
			android:permission="oplus.permission.OPLUS_COMPONENT_SAFE"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="oplus.intent.action.settings.RECOVERY_SERVICE"
					>
				</action>
				<action
					android:name="com.android.launcher.RecoverySettingsService"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:theme="@01030055"
			android:name="com.oplus.quickstep.locksetting.ui.GoogleActionsActivity"
			android:exported="true"
			android:launchMode="2"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.GAENTER"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.GABREENOCLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<service
			android:name="com.android.keyguardservice.KeyGuardDismissedService"
			android:permission="oplus.permission.OPLUS_COMPONENT_SAFE"
			android:exported="true"
			android:directBootAware="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.KeyGuardDismissedService"
					>
				</action>
			</intent-filter>
		</service>
		<receiver
			android:name="com.android.launcher.LauncherDataClearedReceiver"
			android:permission="oplus.permission.OPLUS_COMPONENT_SAFE"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.OPLUS_LAUNCHER_DATA_CLEARED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.android.launcher3.TermsOfServiceReceiver"
			android:permission="com.oplus.permission.safe.SETTINGS"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.oplus.bootreg.tos.PARTNER_CUSTOMIZATION"
					>
				</action>
			</intent-filter>
			<meta-data
				android:name="com.oplus.bootreg.tos.keyhint"
				android:value="com.android.launcher3"
				>
			</meta-data>
			<meta-data
				android:name="com.oplus.bootreg.tos.order"
				android:value="835"
				>
			</meta-data>
			<meta-data
				android:name="com.oplus.bootreg.tos.title"
				android:resource="@7F120356"
				>
			</meta-data>
			<meta-data
				android:name="com.oplus.bootreg.tos.summary"
				android:resource="@7F120355"
				>
			</meta-data>
			<meta-data
				android:name="com.oplus.bootreg.tos.title.tablet"
				android:resource="@7F120356"
				>
			</meta-data>
			<meta-data
				android:name="com.oplus.bootreg.tos.summary.tablet"
				android:resource="@7F120355"
				>
			</meta-data>
		</receiver>
		<activity
			android:theme="@7F13032B"
			android:label="@7F1203EA"
			android:name="com.android.launcher.guide.side.LearningGesturesActivity"
			android:permission="com.oplus.permission.safe.SETTINGS"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000580"
			android:resizeableActivity="false"
			>
		</activity>
		<activity
			android:theme="@7F130040"
			android:name="com.android.launcher.guide.GuidePanelActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			android:uiOptions="0x00000001"
			android:resizeableActivity="false"
			>
		</activity>
		<activity
			android:theme="@01030055"
			android:name="com.android.quickstep.LockScreenRecentsActivity"
			android:taskAffinity="com.android.launcher.locktask"
			android:showOnLockScreen="true"
			android:directBootAware="true"
			android:showWhenLocked="true"
			>
		</activity>
		<activity
			android:theme="@7F13024A"
			android:name="com.android.launcher.guide.layoutupgrade.FoldScreenLayoutUpgradeGuideActivity"
			android:permission="com.oplus.permission.safe.SETTINGS"
			android:exported="true"
			android:excludeFromRecents="true"
			android:launchMode="2"
			android:configChanges="0x00000680"
			android:noHistory="true"
			android:uiOptions="0x00000001"
			>
			<intent-filter
				>
				<action
					android:name="com.android.launcher.action.SHOW_LAYOUT_UPGRADE_GUIDE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<provider
			android:name="com.oplus.card.pantanal.provider.CardServerProvider"
			android:permission="com.oplus.permission.safe.ASSISTANT"
			android:exported="true"
			android:authorities="com.oplus.card.server.launcher.provider"
			>
		</provider>
		<provider
			android:name="com.android.launcher.provider.OutwardContentProvider"
			android:permission="com.oplus.permission.safe.APP_MANAGER"
			android:exported="true"
			android:authorities="com.android.launcher.provider.outward"
			>
		</provider>
		<service
			android:name="androidx.room.MultiInstanceInvalidationService"
			android:exported="false"
			android:directBootAware="true"
			>
		</service>
		<meta-data
			android:name="coui.support.appcompat.version"
			android:value="14.0.28-beta944cb99"
			>
		</meta-data>
		<activity
			android:name="androidx.slice.compat.SlicePermissionActivity"
			android:excludeFromRecents="true"
			>
		</activity>
		<uses-library
			android:name="androidx.window.extensions"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="androidx.window.sidecar"
			android:required="false"
			>
		</uses-library>
		<receiver
			android:name="org.hapjs.card.sdk.debug.SdkCardDebugReceiver"
			android:permission="org.hapjs.permission.DEBUG_CARD"
			android:enabled="true"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="org.hapjs.intent.action.DEBUG_CARD"
					>
				</action>
			</intent-filter>
		</receiver>
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:exported="false"
			android:authorities="com.android.launcher.androidx-startup"
			>
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
		</provider>
		<meta-data
			android:name="dependencies:implementation:com.oplus.coreapp.appfeature:AppFeatureHelper"
			android:value="2.0.0"
			>
		</meta-data>
		<meta-data
			android:name="com.oplus.support:api-adapter"
			android:value="13.0.0-SNAPSHOT"
			>
		</meta-data>
		<receiver
			android:name="androidx.remotecallback.ProviderRelayReceiver"
			>
		</receiver>
		<provider
			android:name="com.oplus.tingle.ipc.internal.TingleProvider"
			android:exported="false"
			android:multiprocess="true"
			android:authorities="com.android.launcher.tingle"
			android:directBootAware="true"
			>
		</provider>
		<meta-data
			android:name="com.oplus.tingle:tingle"
			android:value="3.1.0"
			>
		</meta-data>
		<provider
			android:name="com.oplus.epona.internal.EponaProvider"
			android:permission="com.oplus.permission.safe.SECURITY"
			android:exported="true"
			android:multiprocess="true"
			android:authorities="com.android.launcher.oplus.epona"
			android:directBootAware="true"
			>
		</provider>
		<meta-data
			android:name="com.oplus.epona:epona"
			android:value="2.6.2"
			>
		</meta-data>
		<meta-data
			android:name="dependencies:implementation:com.oplus.appprovider:settings"
			android:value="2.1.6"
			>
		</meta-data>
		<provider
			android:name="com.otest.proxy.SystemTestDataProxy"
			android:permission="com.android.launcher.permission.TEST_STUB_READ"
			android:enabled="true"
			android:exported="true"
			android:authorities="com.android.launcher.testStub"
			>
		</provider>
		<meta-data
			android:name="dependencies:implementation:com.oplus.utils:reflect"
			android:value="2.1.1"
			>
		</meta-data>
		<meta-data
			android:name="com.oplus.utils:loggerUtils"
			android:value="1.0.1"
			>
		</meta-data>
	</application>
</manifest>
